body {
  margin: 0;
  padding: 0;
  color: rgb(240, 239, 239);
}
* {
  font-family: Poppins, sans-serif !important;
}
.green {
  color: rgb(17, 94, 17);
}
.greener {
  color: #255428;
}
.css-173mxzf-JoySelect-root {
  color: black !important;
  font-weight: 900 !important;
}
.transparent {
  background-color: transparent;
  color: transparent;
}
.name {
  background-color: rgb(255, 241, 224);
}
.col {
  color: rgb(116, 115, 115) !important;
}
.sort {
  background-color: transparent !important;
  border: 1.33px solid rgb(189, 189, 189) !important;
  min-width: 40px !important;
  font-weight: 700 !important;
}

.weight * {
  font-weight: 500 !important;
}
.weight-first * {
  font-weight: 500 !important;
  color: rgb(72, 72, 72) !important;
  font-size: 0.96rem !important;
}
.card-button:hover {
  color: white !important;
  background-color: #1b3e25 !important;
}
.material {
  /* color: #1b3e25 !important; */
  opacity: 0.8;
  font-size: 0.86rem !important;
}

.MuiRating-iconFilled {
  /* color: #008e29 !important; */
  color: green !important;
  /* vertical-align: ; */
}
.base {
  display: flex !important;
  align-items: flex-end !important;
}
.doneIcon {
  color: #065e1f !important;
  font-size: 18px !important;
}
.card-button:hover .doneIcon {
  color: white !important;
}
.badge > * {
  /* background-color: red !important; */
  color: white !important;
  font-size: 0.6rem !important;
}
.base-Input-root.base--focused:focus-visible {
  /* background-color: #065e1f !important; */
  border: 0px solid transparent !important;
}
.dismantle * {
  border: 1px solid transparent !important;
  background-color: rgb(239, 239, 239);
  font-size: 0.8rem !important;
  padding: 3px 8px;
  border-radius: 1rem;
  color: black;
}
.dismantle .base--focused:focus-visible {
  border: 1px solid red !important;
}
