body {
  margin: 0;
  padding: 0;
  color: rgb(240, 239, 239);
}
* {
  font-family: Poppins, sans-serif !important;
}
.green {
  color: #1b3e25;
}
.greener {
  color: #255428;
}
.transparent {
  background-color: transparent;
  color: transparent;
}
.name {
  background-color: rgb(255, 241, 224);
}
